.koboFrame{
	height:1024px;
	width:768px;
	text-align:center;
}
.koboFont{
    font-size:90px;
    font-family:sans-serif;
}
.koboHour{
    font-size:150px;
}
.koboDay{
    font-size:50px;
    vertical-align:super;
    margin-right:10px;
}
.koboSubFont{
    font-size:50px;
}
.todaySection{
    display:flex;
    justify-content:center;
}
i.owf.nextDaysIcon{
    font-size:60px;
}
.nextDayLine{
    display:flex;
    justify-content:center;
}