.koboFrame{
	height:1024px;
	width:768px;
	text-align:center;
}
.koboFont{
    font-size:90px;
    font-family:sans-serif;
}
.koboHour{
    font-size:200px;
}
.koboTemp{
    position:relative;
    top:-40px;
}
.koboDay{
    font-size:60px;
}
