.koboFrame{
	height:1024px;
	width:768px;
	text-align:center;
}
.koboFont{
    font-size:90px;
    font-family:sans-serif;
}
.koboHour{
    font-size:180px;
}
.koboDay{
    margin-right:10px;
    width:230px;
}
.koboTemp{
    width:115px;
}
.koboSubFont{
    font-size:55px;
}
.todaySection{
    margin-bottom:20px;
}
.nextDayLine{
}
i.owf.nextDaysIcon{
    font-size:80px;
}
.alignedInlined{
    display:inline-block;
    vertical-align:top;
    margin:-10px;
}