<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Meteo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="refresh" content="3600" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<link rel="stylesheet" th:href="@{/css/kobo.css}"
		  href="../../css/kobo.css" />
<script src="../../js/a.js"></script>

<link href="../../css/owfont-regular.css" rel="stylesheet" type="text/css" />

</head>
<body onload="startTime()">

	<div class="container koboFrame">

		<div class="starter-template koboFont">

            <div class="koboSection">
                <!-- <span th:text="${koboWeather.dateNow}"></span>
                <br /> -->
                <span class="koboHour" id="koboHour"></span>
                <div class="weatherSection">
                    <i th:class="${koboWeather.icon}" class="koboImg"></i>
                    <span th:text="${koboWeather.current}"></span>
                    <span>°</span>
                </div>
            </div>

            <div class="koboSection">
                <span th:text="${koboWeather.tomorrow}"></span>

                <div class="weatherSection">
                    <i th:class="${koboWeather.iconTomMorning}" class="koboImg"></i>
                    <span th:text="${koboWeather.minTomorrow}"></span>
                    <span>° / </span>
                    <i th:class="${koboWeather.iconTomEvening}" class="koboImg"></i>
                    <span th:text="${koboWeather.maxTomorrow}"></span>
                    <span>°</span>
                </div>
            </div>
		</div>
	</div>
</body>

</html>