<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Meteo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="refresh" content="3600" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<link rel="stylesheet" th:href="@{/css/kobo.css}"
		  href="../../css/kobo.css" />
<script src="../../js/a.js"></script>

<link href="../../css/owfont-regular.css" rel="stylesheet" type="text/css" />

</head>x
<body onload="startTime()">

	<div class="container koboFrame">

		<div class="starter-template koboFont">

            <div>
                <!-- <span th:text="${koboWeather.dateNow}"></span>
                <br /> -->
                <span class="koboHour" id="koboHour"></span>
                <div>
                    <i th:class="${koboWeather.icon}"></i>
                    <span th:text="${koboWeather.current}+'°'" class="koboTemp"></span>
                    <span th:text="${koboWeather.wind}" class="koboTemp"></span>
                </div>
            </div>

            <div th:each="forecastedKoboDay: ${forecastedKoboDays}">
                <span th:text="${forecastedKoboDay.date}" class="koboDay"></span>

                <div>
                    <i th:class="${forecastedKoboDay.iconMorning}"></i>
                    <span th:text="${forecastedKoboDay.tempMorning}+'°'" class="koboTemp"></span>
                    <i th:class="${forecastedKoboDay.iconEvening}"></i>
                    <span th:text="${forecastedKoboDay.tempEvening}+'°'" class="koboTemp"></span>
                </div>
            </div>
		</div>
	</div>
</body>

</html>